spring-cloud-spring-service-connector/src/main/resources/org/springframework/cloud/config/xml/spring-cloud.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.springframework.org/schema/cloud"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:beans="http://www.springframework.org/schema/beans"
		xmlns:tool="http://www.springframework.org/schema/tool"
		targetNamespace="http://www.springframework.org/schema/cloud"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:import namespace="http://www.springframework.org/schema/tool" />

	<xsd:annotation>
		<xsd:documentation><![CDATA[
	Defines the configuration elements for Cloud.
		]]></xsd:documentation>
	</xsd:annotation>

	<xsd:element name="service">
		<xsd:annotation>
			<xsd:documentation>
				Creates a connector for the specified service.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						The id for this connector bean.
						If not provided, the service name will be used as a fallback.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="service-name" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						The name of the service.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="connector-type" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						The fully-qualified class for the connector object to be created.
						If not provided, the default associated with the service will be used.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="data-source">
		<xsd:annotation>
			<xsd:documentation>
				Locates a DataSource service.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="connection" type="jdbcConnectionType" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="pool" type="poolType" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="pool-data-sources" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="connection-properties" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						The id for this DataSource.
						If not provided, the service name will be used as a fallback.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="service-name" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						The name of the DataSource service.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="rabbit-connection-factory">
		<xsd:annotation>
			<xsd:documentation>
				Locates a RabbitMQ service and creates a ConnectionFactory for it.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="rabbit-options" type="rabbitOptionsType" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="connection-properties" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						The id for this ConnectionFactory.
						If not provided, the service name will be used as a fallback.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="service-name" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						The name of the RabbitMQ service.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="redis-connection-factory">
		<xsd:annotation>
			<xsd:documentation>
				Locates a Redis service and creates a ConnectionFactory for it.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="pool" type="poolType" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="connection-properties" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						The id for this ConnectionFactory.
						If not provided, the service name will be used as a fallback.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="service-name" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						The name of the Redis service.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="mongo-db-factory">
		<xsd:annotation>
			<xsd:documentation>
				Locates a Mongo service.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="mongo-options" type="mongoOptionsType" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attributeGroup ref="writeConcern" />
			<xsd:attribute name="id" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						The id for this MongoDbFactory instance.
						If not provided, the service name will be used as a fallback.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="service-name" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						The name of the Mongo service.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="properties">
		<xsd:annotation>
			<xsd:documentation source="org.cloudfoundry.runtime.env.CloudPropertiesFactoryBean"><![CDATA[
				Exposes cloud properties as a Properties object (suitable for Spring Property Placeholder Configurer).
				Provides the same set of properties that are automatically exposed to Spring 3.1 (or later) based applications.
			]]></xsd:documentation>
			<xsd:appinfo>
				<tool:annotation>
					<tool:exports type="java.util.Properties" />
				</tool:annotation>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						The id for the properties object.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="service-scan">
		<xsd:annotation>
			<xsd:documentation source="org.cloudfoundry.runtime.service.CloudServicesScanner"><![CDATA[
				Exposes the available cloud services as beans, which then may be injected into other beans.
			]]></xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:attributeGroup name="writeConcern">
		<xsd:attribute name="write-concern">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
					the WriteConcern to use for all DB connections created.
				]]></xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="NONE" />
					<xsd:enumeration value="NORMAL" />
					<xsd:enumeration value="SAFE" />
					<xsd:enumeration value="FSYNC_SAFE" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:attributeGroup>

	<xsd:complexType name="poolType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				Element defining optional pool configuration settings.
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="pool-size" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
					Either the maximum number of connections in the pool or a range specifying minimum and maximum size
					separated by a dash.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="max-wait-time" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
					The maximum number of milliseconds that the pool will wait (when there are no available connections)
					for a connection to be returned before throwing an exception.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="jdbcConnectionType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				Element defining optional JDBC Connection configuration settings.
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="properties" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
					The connection properties that will be sent to the JDBC driver when establishing new connections.
					Format of the string must be [propertyName=property;].
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:element name="pool-data-sources" type="listType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				Element defining optional JDBC DataSource implementation names to use for discovery.
			]]></xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="mongoOptionsType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				Element defining optional Mongo configuration settings.
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="connections-per-host" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
					The maximum number of connections allowed per host for the Mongo instance. Those connections will
					be kept in a pool when idle. Once the pool is exhausted, any operation requiring a connection will
					block waiting for an available connection.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="max-wait-time" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
					The maximum wait time in ms that a thread may wait for a connection to become available.
				]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="rabbitOptionsType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
				Element defining optional Rabbit configuration settings.
			]]></xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="channel-cache-size" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation><![CDATA[
						The size of the channel cache.
					]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:element name="connection-properties" type="mapType">
		<xsd:annotation>
			<xsd:documentation><![CDATA[
			Additional connection configuration properties.
			]]></xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="listType">
		<xsd:complexContent>
			<xsd:extension base="beans:listOrSetType">
				<xsd:attribute name="ref" use="optional">
					<xsd:annotation>
						<xsd:documentation source="java:java.util.List"><![CDATA[
						The bean name of the List to pass as configuration options.
						]]></xsd:documentation>
						<xsd:appinfo>
							<tool:annotation kind="ref">
								<tool:expected-type type="java.util.List" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="mapType">
		<xsd:complexContent>
			<xsd:extension base="beans:mapType">
				<xsd:attribute name="ref" use="optional">
					<xsd:annotation>
						<xsd:documentation source="java:java.util.Map"><![CDATA[
						The bean name of the Map to pass as configuration options.
						]]></xsd:documentation>
						<xsd:appinfo>
							<tool:annotation kind="ref">
								<tool:expected-type type="java.util.Map" />
							</tool:annotation>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

 	<xsd:element name="cassandra-session-factory">
 		<xsd:annotation>
 			<xsd:documentation>
 				Locates a cassandra service
 			</xsd:documentation>
 		</xsd:annotation>
 
 		<xsd:complexType>
 
 			<xsd:sequence>
 				<xsd:element name="cassandra-options" type="cassandraOptionsType" minOccurs="0" maxOccurs="1"/>
 
 			</xsd:sequence>
 			<xsd:attribute name="id" type="xsd:string" use="optional">
 				<xsd:annotation>
 					<xsd:documentation>
 						The id for this Cassandra Session instance.
 						If not provided, the service name will be used as a fallback.
 					</xsd:documentation>
 				</xsd:annotation>
 			</xsd:attribute>
 			<xsd:attribute name="service-name" type="xsd:string" use="optional">
 				<xsd:annotation>
 					<xsd:documentation>
 						The name of the cassandra service.
 					</xsd:documentation>
 				</xsd:annotation>
 			</xsd:attribute>
 
 		</xsd:complexType>
 
 	</xsd:element>
 
 	<xsd:complexType name="cassandraOptionsType">
 		<xsd:annotation>
 			<xsd:documentation><![CDATA[
 				Element defining optional Cassandra configuration settings.
 			]]></xsd:documentation>
 		</xsd:annotation>
 		<xsd:attributeGroup ref="compressionOptions"/>
 		<xsd:attribute type="xsd:string" name="reconnection-policy">
 			<xsd:annotation>
 				<xsd:documentation><![CDATA[
 					A reference to a com.datastax.driver.core.policies.ReconnectionPolicy implementation
 	          		]]></xsd:documentation>
 				<xsd:appinfo>
 					<tool:annotation kind="ref">
 						<tool:expected-type type="com.datastax.driver.core.policies.ReconnectionPolicy"/>
 					</tool:annotation>
 				</xsd:appinfo>
 			</xsd:annotation>
 
 		</xsd:attribute>
 		<xsd:attribute type="xsd:string" name="loadbalancing-policy">
 			<xsd:annotation>
 				<xsd:documentation><![CDATA[
 					A reference to a com.datastax.driver.core.policies.LoadBalancingPolicy implementation
 	          		]]></xsd:documentation>
 				<xsd:appinfo>
 					<tool:annotation kind="ref">
 						<tool:expected-type type="com.datastax.driver.core.policies.LoadBalancingPolicy"/>
 					</tool:annotation>
 				</xsd:appinfo>
 			</xsd:annotation>
 
 		</xsd:attribute>
 		<xsd:attribute type="xsd:string" name="socket-options">
 			<xsd:annotation>
 				<xsd:documentation><![CDATA[
 					A reference to a com.datastax.driver.core.SocketOptions Object
 	          		]]></xsd:documentation>
 				<xsd:appinfo>
 					<tool:annotation kind="ref">
 						<tool:expected-type type="com.datastax.driver.core.SocketOptions"/>
 					</tool:annotation>
 				</xsd:appinfo>
 			</xsd:annotation>
 
 		</xsd:attribute>
 		<xsd:attribute type="xsd:string" name="retry-policy">
 			<xsd:annotation>
 				<xsd:documentation><![CDATA[
 					A reference to a com.datastax.driver.core.policies.RetryPolicy Object
 	          		]]></xsd:documentation>
 				<xsd:appinfo>
 					<tool:annotation kind="ref">
 						<tool:expected-type type="com.datastax.driver.core.policies.RetryPolicy"/>
 					</tool:annotation>
 				</xsd:appinfo>
 			</xsd:annotation>
 
 		</xsd:attribute>
 	</xsd:complexType>
 
 	<xsd:attributeGroup name="compressionOptions">
 		<xsd:attribute name="compression">
 			<xsd:annotation>
 				<xsd:documentation><![CDATA[
 					com.datastax.driver.core.policies.RetryPolicy to be used
 				]]></xsd:documentation>
 			</xsd:annotation>
 			<xsd:simpleType>
 				<xsd:restriction base="xsd:string">
 					<xsd:enumeration value="NONE" />
 					<xsd:enumeration value="LZ4" />
 					<xsd:enumeration value="SNAPPY" />
 				</xsd:restriction>
 			</xsd:simpleType>
 		</xsd:attribute>
 	</xsd:attributeGroup>
 
</xsd:schema>
